@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&display=swap');

//Fuentes
$MainFont: 'Raleway', sans-serif;
$Secondaryfont:'Roboto', sans-serif;

//tamaños
$textSm:.8em;
$textMd:1em;
$textMdintermedio:1.5em;
$textLg:2em;
$textXl:3em;

//Pesos

$light:300;
$regular:400;
$bold:600;
$boldhard:800;